<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="com.change_vision.astah.ui.view">
        <view
            id="com.ref.astah.ui.CounterView"
            type="extraTab"
            class="com.ref.astah.ui.CounterView" />
   </extension>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.ref.ref.actionSet">
         <menu
               id="ref"
               label="%menu_group"
               path="tool/ref">
         </menu>
         <action
            label="%menu_label"
               icon="icons/sample.gif"
               class="com.ref.astah.ui.FDRLocationAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/ref/"
               id="ref">
         </action>
     </actionSet>
   </extension>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%AD_set_label"
            visible="true"
            id="com.ref.ref.actionSet">
         <menu
               id="AD"
               label="%AD_menu_group"
               path="tool/AD">
         </menu>
         <menu
               id="verification"
               label="%AD2_menu_group"
               path="tool/AD/verification">
         </menu>
         <menu
               id="verificationSM"
               label="%SM_menu_group"
               path="tool/AD/verificationSM">
         </menu>
         <action
            label="%AD_menu_label"
               icon="icons/sample.gif"
               class="com.ref.astah.ui.TemplateDeadlockActionAD"
               tooltip="%menu_tooltip"
               menubarPath="tool/AD/verification/"
               id="verificationDeadlock">
         </action>
         <action
                 label="%AD_menu_label2"
                 icon="icons/sample.gif"
                 class="com.ref.astah.ui.TemplateDeterminismActionAD"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/AD/verification/"
                 id="verificationDeterminism">
         </action>
         <action
               label="%SM_menu_label"
               icon="icons/sample.gif"
               class="com.ref.astah.ui.TemplateDeadlockActionSM"
               tooltip="%menu_tooltip"
               menubarPath="tool/AD/verificationSM/"
               id="verificationSMDeadlock">
         </action>
         <action
                 label="%SM_menu_label2"
                 icon="icons/sample.gif"
                 class="com.ref.astah.ui.TemplateDeterminismActionSM"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/AD/verificationSM/"
                 id="verificationSMDeterminism">
         </action>
     </actionSet>
   </extension>
</plugin>
